.c-btn {
  font-size: 10px;
  color: #00f;
}

.test {
  color: #00f;
}

::-moz-placeholder {
  color: #808080;
}

::placeholder {
  color: #808080;
}

.css-declaration-sorter {
  bottom: 10px;
  align-self: center;
  margin: 10px 0 0 0;
  color: #f00;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.css-declaration-sorter .hoge {
  color: #00f;
}

.css-declaration-sorter .hoge .test {
  color: #0f0;
}

.css-declaration-sorter .hoge .test .guga {
  display: flex;
  flex-direction: column;
}

@media screen and (width >= 768px) {
  .c-btn {
    color: #f00;
  }

  .test {
    color: #f00;
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .image {
    width: 100px;
    width: 100%;
    background-color: transparent;
    background-image: url(image@2x.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }
}